h1{
    color: teal;
}
strong{
    color: red;
}
.destacado{
    color: orange;
}
div[class=adicional]{
    color: olive;
}
h2, em{
    color: blue;
}
a{
    color: red;
}
div p a{
    color: green;
}
div span{
    color: green;
}
div span[class=especial]{
    color: purple;
}