$color_1: #666;
$color_2: #FFFFFF;
$color_3: #fff;
$color_4: white;
$color_5: #6B6B6B;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: #b9b9b9;
$background-color_2: white;
$background-color_3: #888;
$background-color_4: #f4e21d;