@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*:after,
*:before {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* Body */
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url(img/TexturaHojas.png);
    background-position: right;
    background-repeat: repeat-y;
    background-color: black;
}

/* header */
header {
    height: fit-content;
    grid-column: 1/3;
}

header img {
    width: 100vw;
}

header h1 {
    display: none;
}

/* Menú */
nav {
    grid-column: 1/3;
}

nav a {
    display: block;
    text-align: center;
    width: 110vw;
    margin: 1em 0;
    padding: 1em;
    color: white;
    text-decoration: none;
    background-color: #ab2b7d;
    transition: 2s all;
    font-size: 5vw;
    transform: translateX(-1.5em);
}

nav a:active,
nav a:hover {
    text-transform: uppercase;
    transform: translateX(0px);
}

nav a:last-child ul {
    display: none;
    margin-top: 1em;
    list-style: none;
    justify-content: space-evenly;
}

nav a:last-child:hover ul {
    display: flex;
}

/* main */
main {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 70vw 30vw;
}

aside:nth-child(2n) {
    display: none;
}

aside:nth-child(1) {
    grid-row: 2/3;
    grid-column: 1/2;
}

aside:nth-child(1) iframe {
    width: 100%;
}

aside:nth-of-type(2) {
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside:nth-of-type(2) img {
    width: 80%;
}

/* footer */
footer {
    border-top: #38ab2b double;
    border-bottom: #ab2b7d double;
    grid-column: 1/3;
    display: flex;
}

footer img:nth-of-type(1) {
    width: 5em;
    position: absolute;
    left: 83%;
}

footer img:nth-of-type(2) {
    width: 2em;
}

/* Grandes */
@media screen and (min-width: 550px) {
    body {
        background: white;
    }

    header {
        display: flex;
        justify-content: center;
    }

    header img {
        width: 80vw;
    }

    header h1 {
        display: block;
        writing-mode: vertical-rl;
        background-color: #ab2b7d;
        color: white;
        padding: 1em 0;
        position: absolute;
        height: 130vh;
        right: 10%;
    }

    /* main */
    main {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 50vw 25vw 25vw;
    }
    nav {
        grid-column: 1/2;
        z-index: 100;
    }
    nav a {
        width: 100%;
        transition: 2s all;
        font-size: 2em;
    }
    nav a:nth-of-type(1):hover:after {
        position: absolute;
        top: 4vh;
        content: "HOME";
        color: #38ab2b;
        right: 30vw;
    }
    nav a:nth-of-type(2):hover:after {
        position: absolute;
        top: 4vh;
        content: "TAPIA LEGEA";
        color: #38ab2b;
        right: 30vw;
    }
    nav a:nth-of-type(3):hover:after {
        position: absolute;
        top: 4vh;
        content: "AGENDA";
        color: #38ab2b;
        right: 30vw;
    }


    nav a:nth-of-type(4):hover:after {
        position: absolute;
        top: 4vh;
        content: "RSS";
        color: #38ab2b;
        right: 30vw;
    }

    nav a:nth-of-type(4) ul li {
        border-top: .2em solid #38ab2b;
        border-right: .2em solid #38ab2b;
    }

    nav a:nth-of-type(4):hover ul:before {
        content: "Redes Sociales";
        text-transform: none;
    }

    nav a:hover {
        width: 100vw;
    }

    aside:nth-child(2n) {
        display: block;
    }

    aside:nth-child(1) {
        grid-row: 4/5;
        width: 100%;
        display: flex;
    }

    aside:nth-of-type(4) {
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 1em;
        gap: 2em;
    }

    aside:nth-of-type(4) img:nth-of-type(1) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    aside:nth-of-type(4) img:nth-of-type(2) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    aside:nth-of-type(2) {
        grid-row: 1/3;
        grid-column: 2/4;
        justify-content: left;
    }

    aside:nth-of-type(2) img {
        width: 50%;
    }

    aside:nth-of-type(3) {
        grid-row: 4/5;
        grid-column: 2/4;
        display: grid;
        margin-left: 2em;
        grid-template-columns: 25vw 25vw;
        align-items: center;
        padding: 1em;
        gap: 2em;
    }

    aside:nth-of-type(3) img:nth-of-type(1) {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    aside:nth-of-type(3) img:nth-of-type(2) {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    footer {
        justify-content: space-between;
    }

    footer img:nth-of-type(1) {
        width: 10em;
        height: 5em;
        position: relative;
        left: 0;
        top: 1em;
    }

    footer img:nth-of-type(2) {
        width: 5em;
    }

    div {
        grid-row: 3/4;
        grid-column: 1/4;
        background-image: url(img/txoriak.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 10em;
        height: 10em;
        animation-duration: 3s;
        animation-name: slidein;
        position: relative;
        animation-iteration-count: infinite;
    }

    div:hover {
        animation-play-state: paused;
    }

    @keyframes slidein {
        0% {
            left: -10vw;
        }

        100% {
            left: 100vw;
        }
    }

}