@media screen and (min-width: 1024PX){
    /* General */
    body{
        margin-top: 4em;
    }
    #bomBot{
        display: block;
    }
    /* HEADER */
    #videoIntro{
        background-color: black;
    }
    /* NAVEGADOR */
    #nav{
        height: 4em;
    }
    #botMenu{
        display: none;
    }
    .menu-link:hover{
        border-bottom: .2em solid red;
    }
    .menu{
        flex-direction: row;
        margin-right: 0.5em;
        top: 0;
        right: 0;
        height: 4em;
        background-color: transparent;
    }
    .menu-item{
        line-height: 4em;
    }
    /* MAIN */
        /* CONTACTO */
        #main-contacto{
            padding: 1em 4em;
        }
        .contenido{
            display: grid;
            grid-template-columns: 2fr 1fr;

        }
        .contenido > *{
            padding: 2em;
        }
        .info-contacto h4,
        .info-contacto ul,
        .info-contacto p{
            padding: 1em;
            text-align: left;
        }
        /* AGENTES */
        .contenedor-agentes{
            grid-template-columns: repeat(8,1fr);
        }
        .contenedor-agentes a:nth-of-type(1){grid-column: 1/2;}
        .contenedor-agentes p:nth-of-type(1){grid-column: 2/3;}
        .contenedor-agentes a:nth-of-type(2){grid-column: 3/4;}
        .contenedor-agentes p:nth-of-type(2){grid-column: 4/5;}
        .contenedor-agentes a:nth-of-type(3){grid-column: 5/6;}
        .contenedor-agentes p:nth-of-type(3){grid-column: 6/7;}
        .contenedor-agentes a:nth-of-type(4){grid-column: 7/8;}
        .contenedor-agentes p:nth-of-type(4){grid-column: 8/9;}
        .contenedor-agentes a:nth-of-type(5){grid-column: 1/2;}
        .contenedor-agentes p:nth-of-type(5){grid-column: 2/3;}
        .contenedor-agentes a:nth-of-type(6){grid-column: 3/4;}
        .contenedor-agentes p:nth-of-type(6){grid-column: 4/5;}
        .contenedor-agentes a:nth-of-type(7){grid-column: 5/6;}
        .contenedor-agentes p:nth-of-type(7){grid-column: 6/7;}
        .contenedor-agentes a:nth-of-type(8){grid-column: 7/8;}
        .contenedor-agentes p:nth-of-type(8){grid-column: 8/9;}
        .contenedor-agentes p{display: block;}
        .contenedor-agentes b{text-align: center; text-shadow: 1px -1px grey;}
}